<section class="card">
  <div class="card-body">
    <h1>Caracteristicas</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde omnis magnam, doloremque totam itaque mollitia quos
      id quae fuga earum ut beatae distinctio veniam nobis quam deleniti tempora eaque eligendi.
    </p>
  </div>
</section>
