<div class="jumbotron mt-4">
  <h1 class="display-4">SERP</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam exercitationem id deleniti quo
    quasi, fugit tempora nisi unde quae sit laudantium repellendus porro consequatur magni ab enim? Aliquam, eius
    quisquam.</p>
  <hr class="my-4">
  <p> SEO FULL </p>
  <a class="btn btn-primary btn-lg" href="/auth/facebook" role="button">Ingreso con Facebook</a>
  <a class="btn btn-primary btn-lg" href="/auth/google" role="button">Ingreso con Google</a>
</div>
