<section class="card">
  <div class="card-body">
    <h1>Planes</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore fugit nobis rerum temporibus? Accusantium
      saepe quam ratione, laudantium, placeat numquam aperiam, corrupti error illo aspernatur tenetur autem ab at
      nostrum?Aut sequi doloremque adipisci, assumenda possimus veniam velit aliquid ipsa magnam molestiae ut tempore
      praesentium fuga. Facere tenetur amet ea quis vitae quisquam, voluptas quo. Quas iure magni earum nihil?
  </div>
</section>
